*{
    margin:0;
    padding:0;
}
header{
    height:100px;
}
.wrapper1{
    padding-left:33px;
    padding-top:37px;
    width: 374px;
    box-sizing:border-box;
}
.wrapper2{
    padding-left:33px;
    width: 374px;
    box-sizing:border-box;
}

/* logo_mobile_black 1 */
.sinhro {
    width: 52.19px;
    height: 30.75px;
}

.globe{
    position: absolute;
    width: 10.25px;
    left: 33.5px;
    top: 113.95px;
}
.online-course{
    position: absolute;
    height: 14.91px;
    left: 46.9px;
    top: 114.35px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 115%;
    color: #000000;
}
.clock{
    position: absolute;
    width: 10.25px;
    height: 10.25px;
    left: 119.21px;
    top: 113.49px; 
}
.hours{
    position: absolute;
    width: 60.58px;
    height: 14.91px;
    left: 134.12px;
    top: 113.35px;   
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 115%;
    color: #000000;  
}
.calendar{
    position: absolute;
    width: 9.32px;
    height: 10.25px;
    left: 194.23px;
    top: 113.49px;    
}
.date{
    position: absolute;
    width: 60.58px;
    height: 14.91px;
    left: 209.6px;
    top: 113.35px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 115%;
    color: #000000;
}
.second{
    height: 500px;
}
h1{
    width: 292.63px;
    height: 88.53px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 101.38%; 
    color: #000000;

}
.description{
    position: absolute;
    width: 212.4px;
    height: 28.96px;
    left: 34.74px;
    top: 228.07px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 150%;
    color: #000000;
}
.noroot{
    position: absolute;
    width: 143px;
    height: 175px;
    left: 198px;
    top: 255px;     
}
.blue{
    position: absolute;
    width: 225.36px; 
    height: 93.19px; 
    left: 35.98px; 
    top: 469.75px; 
    background: #1E4681;
    border-radius: 2.32986px;
    color:#FFFFFF;
}
.blue div{

    width: 200.64px;
    height: 52.65px;
    margin: 10px 0 0 12.13px;
}
.blue p{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 130%;
}

.blue span{
    /* Андрей Тарковский */
    width: 130.7px;
    height: 21.27px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 130%;
    margin-left: 125px ; 
    color: #FFFFFF;
    }
.course{
    height: 43.34px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 101.38%;
    color: #000000;
}
.text-block-one{
    width: 308.47px;
    height: 225px;
    padding-top:9px;
    padding-left:1px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 153%;
    color: #000000;
    box-sizing: border-box;
}
.text-block-one p:first-child{
    margin-bottom:16px;
}
.cameraman{
    width: 169px;
    margin-left: 67px;
    margin-top: 15px;
    }

.tt {
    width: 250px;
    height:140px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
    color: #000000;
    display:flex;
    flex-wrap: wrap;
    margin-top: 42px;
    margin-bottom:44px;
}
.block-app{
    display:none;
}
.tt div{
    width: 86px;
    padding-right:33px;
}

.tt h4{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
     color: #000000;
}
.tt p{
    width: 86px;
    height: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 130%;
    margin-top:5px;
}

.about{
    position: absolute;
    width: 308.47px;
    height: 174.27px;
    left: 36px;
    top: 687.72px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #000000;
}

.forma{
    height: 43.34px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 101.38%;   
    color: #000000;      
}

.format-lessons{
    height: 300px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 101.38%;
    color: #000000;

}
.format-lessons div{
    margin-bottom: 20px;
    margin-top: 6px;
}

.format-lessons span{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;  
    color: #1E4681;
 
}
.format-lessons p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 130%;
    margin-top: 5px;   
}
.n{
    width: 170px;
}
.nn{
    width: 170px;
}
.whats-new{
    width: 310.8px;
    height: 53px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 101.38%;
    color: #000000;
}
.list{
    width: 292px;
    height: 204px;
    margin-left:15px;
    margin-bottom: 55px;
    font-size: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 18.2px;
    color: #000000;
}
.list li {    
    text-indent: -6px;
}
.programs{
    width: 421.7px;
    height: 43.34px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 101.38%;
    color: #000000;
    }

.painters {
    margin-top: 35px;
    margin-left: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    }
    
.card {
    width: 185.92px;
    height: 152.84px;
    background: #FFFFFF;
    box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
    border-radius: 13.9792px;
    margin-bottom:24.16px;
      }
    
.card-content {
    height: 41%;
    padding: 5%;
    padding-top: 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
      }
    
.painters img {
        width: 185.92px;
      }
.ui {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 130%;
    color: #000000;
}
.uii{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 97%;
    color: #000000;
}

.uu, .uuu{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 130%;
color: #000000;
}

/*серый блок*/
.person{
    width: 373px;
    height: 423px;
    background: #EFEFEF;
    padding: 42px 32px 53px 33px;
    box-sizing: border-box;
    margin-top: 25px;
}
.persons{
    width: 257px;
    height: 69px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 101.38%;
    color: #000000;
    margin-bottom:11px;
}
.block-person{
    width: 308px;
    height: 248px;
    background: #FFFFFF;
    box-shadow: 0.465972px 0.465972px 9.31944px rgba(0, 0, 0, 0.25);
    border-radius: 13.9792px; 
}
.feedback{
    width: 266px;
    height: 111.01px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15.45px;
    color: #000000;
    padding: 18.47px 0 21.52px 21px;
}
.girl{
    width: 90px;
    height: 82px;
    margin-left:15px;
}
 .info-about-person{ 
    display:flex; 
    flex-direction:row;
    height:90px; 
}
.Ekaterina{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 101.38%;
    margin-top:17px;
    margin-left: 10px;
    margin-bottom: 21px;
    color: #000000;
}

.fb{
    width:14.91px;
    margin-left: 10px;
}

/* блок мятного цвета */
.money{
    width: 373px;
    height: 362px;
    background: #9DC9C8;
    padding-top: 61px;
    padding-left: 31px;
    box-sizing: border-box;
}
.money h2{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 27px;
    color: #000000;
    width: 224px;

}
.price{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 101.38%;
    margin-top:33px;
    margin-bottom:2px;
    color: #000000;
}
.count{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 101.38%;
    color: #000000;
}
.info-money{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.info-money div{
    padding-right: 22px;
    padding-left:2px;
}
.big-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 101.38%;
    color: #000000;
    margin-top: 5px;
    margin-bottom: 8px;
}
.small-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 101.38%;
    width:144px;
    color: #000000;
}
/* блок черного цвета  */
footer {
    background-color: black;
    width: 373px;
    height: 251px;
    padding:23px 0 0 36px;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 101.38%;
     color: #FFFFFF;
}
.sinhro-white{
    width:53.59px;
}
.icons img{
    width: 15.5px; 
    margin-right:7px;
    margin-top:11px;
    margin-bottom: 48px;
}
.contact {
    width:12.58px;
    margin-right: 7px;
}
.phone{
    margin-bottom: 9px;
}
.mail{
    margin-bottom:53px;
}
.logotip{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 101.38%;
    color: #FFFFFF;
}



