@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@media screen and (min-width: 992px) and (max-width: 1279px) {
  .wrapper {
    height: 100%;
  }

  .block-one {
    padding-left: 70.06px;
  }

  .sinhro {
    width: 64.86px;
    height: 38.23px;
    margin-top: 22px;
  }

  .list-one {
    display: flex;
    margin-top: 57.92px;
  }
  .ops {
    margin-left: 14.48px;
  }

  .list-one img {
    width: 12.74px;
    height: 12.74px;
  }

  .list-one span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 115%;
    color: #000000;
    margin-left: 5px;
  }

  h1 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 101.38%;
    color: #000000;
    margin-top: 7.51px;
    margin-bottom: 0;
  }

  .second {
    display: flex;
    justify-content: space-between;
  }

  .keks {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #000000;
  }

  .man-order {
    width: 176.07px;
    height: 206.18px;
    /* margin-top: 138.99px; */
    margin-right: 142.48px;
  }

  /* .el {
    border-radius: 50px;
    top: 176px;
    width: 157.69px;
    height: 41.75px;
    right: 139px;
    position: absolute;
    z-index: -1px;
    z-index: -1;
  } */

  .block-blue {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280.11px;
    height: 115.83px;
    background: #1e4681;
    border-radius: 5px;
    margin-left: 237px;
    margin-top: 70px;
  }

  .block-blue div {
    width: 249.38px;
    height: 65.45px;
    margin: 11.15px 15.65px 39.24px 15.08px;
  }

  .block-blue p {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: #ffffff;
    margin: 0;
  }

  .block-blue span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    text-align: right;
    color: #ffffff;
    margin-left: 134px;
  }

  .wrappers {
    margin-right: 88.61px;
    display: flex;
    justify-content: space-between;
    /* position: relative; */
  }

  .wrappers p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
  }

  .text-block-one {
    width: 383.41px;
    height: 216.61px;
  }

  .logo {
    width: 181.86px;
    height: 182.44px;
  }

  .logo-second {
    width: 211.98px;
    height: 34.17px;
    top: 100px;
    position: absolute;
    left: 637px;
    top: 165px;
    z-index: -1;
  }

  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
  }

  .logo-two {
    width: 134px;
    height: 117px;
  }

  .tt {
    display: flex;
    justify-content: space-between;
    margin-top: 54.44px;
    margin-bottom: 103.09px;
    margin-right: 250px;
    position: relative;
  }

  .em {
    position: absolute;
    width: 167.46px;
    height: 18.53px;
    top: 193px;
    left: 43px;
    z-index: -1;
  }

  .tt h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 130%;
    color: #000000;
  }

  .tt p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 130%;
    color: #000000;
  }

  .forma {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 101.38%;
    color: #000000;
    margin-top: 0;
  }

  .format-lessons {
    display: flex;
    margin-left: -44px;
  }

  .format-lessons div {
    margin-left: 50px;
  }

  .format-lessons span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 130%;
    color: #1e4681;
  }

  .format-lessons p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 130%;
    color: #000000;
  }

  .whats-new {
    margin-top: 144.55px;
    margin-bottom: 0;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 101.38%;
    color: #000000;
  }

  ul {
    margin-top: 12.16px;
    margin-bottom: 143.66px;
  }

  ul li {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
  }

  .programs {
    font-family: Roboto Slab;
    margin: 0px 239.77px 55.02px 70.08px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 101.38%;
    color: #000000;
  }

  .painters {
    padding: 2.5%;
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    margin: 2.27vw;
    width: 26.5vw;
    height: 22vw;
    border-radius: 8%;
    box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.2);
  }

  .card-content {
    height: 41%;
    padding: 5%;
    padding-top: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .painters img {
    width: 26.5vw;
  }

  .ui {
    margin: 0;
    font-size: 2.08vw;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 130%;
  }

  .uii {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 130%;
    font-size: 2.08vw;
  }

  .uu {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 130%;
    width: 25.34vw;
    font-size: 1.74vw;
  }

  .uuu {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 130%;
    width: 25.34vw;
    font-size: 1.74vw;
  }

  .persons {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 101.38%;
    color: #000000;
    padding: 52.7px 191.7px 19.69px 0px;
    padding-left: -2px;
  }

  .person {
    background: #efefef;
    padding-bottom: 64.29px;
    padding-left: 72.97px;
  }

  .block-person {
    width: 458.12px;
    height: 261.2px;
    background: #ffffff;
    box-shadow: 0.579167px 0.579167px 11.5833px rgba(0, 0, 0, 0.25);
    border-radius: 17.375px;
    /* margin-left: 72.97px; */
    margin-right: 302.9px;
    /* margin-bottom: 64.29px; */
  }

  .block-person p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #000000;
    padding-top: 23.17px;
    padding-left: 26.06px;
    padding-right: 26.64px;
    padding-bottom: 6px;
    margin: 0;
  }

  .girl {
    width: 110.04px;
    height: 97.88px;
    margin-left: 15.06px;
    margin-bottom: 16.8px;
  }

  .info-about-person {
    display: flex;
  }

  .id-person {
    margin-top: 28.96px;
    margin-left: 17.38px;
  }

  .info-about-person p {
    padding: 0;
  }

  .fb {
    width: 18.53px;
    height: 17.95px;
    margin-top: 3px;
  }

  .money {
    background: #9dc9c8;
    padding-left: 70.66px;
    padding-top: 103.67px;
    padding-bottom: 107.15px;
    padding-right: 237.46px;
  }

  .month {
    margin-top: 0;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 101.38%;
    color: #000000;
    margin-bottom: 31.27px;
  }

  .price {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 101.38%;
    color: #000000;
    margin: 0;
  }

  .count {
    margin-top: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 101.38%;
    color: #000000;
  }

  .info-money {
    display: flex;
  }

  .info-money div:nth-child(2) {
    margin-left: 40.54px;
  }

  .big-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 101.38%;
    color: #000000;
  }

  .small-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 101.38%;
    color: #000000;
  }

  footer {
    background-color: black;
    padding-top: 29px;
    padding-left: 70.66px;
    padding-right: 85px;
    padding-bottom: 13.32px;
  }

  .adress {
    display: flex;
    justify-content: space-between;
    color: white;
  }

  .adress span {
    margin-left: 13px;
  }

  .logotip {
    color: white;
    margin-top: 85px;
  }

  .icons {
    margin-left: -12px;
  }

  .icons img {
    margin-top: 17.38px;
    width: 19px;
    height: 19px;
    margin-left: 12px;
  }

  .contact {
    width: 15.64px;
    height: 15.64px;
  }
}