/* здесь общие стили для всех размеров экрана - шрифты и цвета */
.online-course{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}
.hours{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #000000;  
}
.date{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}
h1{ 
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;  
    color: #000000;
}
.description{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}
.blue{
    background: #1E4681;
    color:#FFFFFF;
}
.blue p{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
}
.blue span{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}
.course{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    color: #000000;
}
.text-block-one{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}
.tt {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #000000;
}
.tt h4{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #000000;
}
.tt p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}
.about{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}
.forma{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    color: #000000;   
}
.format-lessons{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    color: #000000;
}
.format-lessons span{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #1E4681;
}
.format-lessons p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}
.whats-new{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    color: #000000;
}
.list{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}
.programs{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    color: #000000;
}
.card {
    background: #FFFFFF;
}
.ui {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #000000;
}
.uii{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: #000000;
}
.uu, .uuu{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}
.person{
    background: #EFEFEF;
}
.persons{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    color: #000000;
}
.block-person{
    background: #FFFFFF;
}
.feedback{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}
.Ekaterina{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    color: #000000;
}
.money{
    background: #9DC9C8;
}
.money h2{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    color: #000000;
}
.price{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}
.count{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}
.big-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}
.small-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #000000;
}
footer {
    background-color: black;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}
.logotip{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}

  /* начало верстки для мобильного телефона */
@media (min-width:320px) and (max-width: 991px) {
  
*{
        margin:0;
        padding:0;
    }
header{
    height:100px;
}
.wrapper1{
    padding-left:33px;
    padding-top:37px;
    width: 374px;
    box-sizing:border-box;
}
.wrapper2{
    padding-left:33px;
    width: 374px;
    box-sizing:border-box;
}

/* logo_mobile_black 1 */
.sinhro {
    width: 52.19px;
    height: 30.75px;
}

.globe{
    position: absolute;
    width: 10.25px;
    left: 33.5px;
    top: 113.95px;
}
.online-course{
    position: absolute;
    height: 14.91px;
    left: 46.9px;
    top: 114.35px;
    font-size: 10px;
    line-height: 115%;
}
.clock{
    position: absolute;
    width: 10.25px;
    height: 10.25px;
    left: 119.21px;
    top: 113.49px; 
}
.hours{
    position: absolute;
    width: 60.58px;
    height: 14.91px;
    left: 134.12px;
    top: 113.35px;     
    font-size: 10px;
    line-height: 115%;
}
.calendar{
    position: absolute;
    width: 9.32px;
    height: 10.25px;
    left: 194.23px;
    top: 113.49px;    
}
.date{
    position: absolute;
    width: 60.58px;
    height: 14.91px;
    left: 209.6px;
    top: 113.35px;
    font-size: 10px;
    line-height: 115%;
}
.second{
    height: 500px;
}
h1{
    width: 292.63px;
    height: 88.53px;    
    font-size: 37px;
    line-height: 101.38%; 
}
.description{
    position: absolute;
    width: 212.4px;
    height: 28.96px;
    left: 34.74px;
    top: 228.07px;   
    font-size: 10px;
    line-height: 150%;
}
.noroot{
    position: absolute;
    width: 143px;
    height: 175px;
    left: 198px;
    top: 255px;     
}
.blue{
    position: absolute;
    width: 225.36px; 
    height: 93.19px; 
    left: 35.98px; 
    top: 469.75px;   
    border-radius: 2.32986px; 
}
.blue div{
    width: 200.64px;
    height: 52.65px;
    margin: 10px 0 0 12.13px;
}
.blue p{
    font-size: 11px;
    line-height: 130%;
}
.blue span{
    width: 130.7px;
    height: 21.27px;   
    font-size: 10px;
    line-height: 130%;
    margin-left: 125px; 
    }
.course{
    height: 43.34px;  
    font-size: 26px;
    line-height: 101.38%;
}
.text-block-one{
    width: 308.47px;
    height: 225px;
    padding-top:9px;
    padding-left:1px; 
    font-size: 12px;
    line-height: 153%;
    box-sizing: border-box;
}
.text-block-one p:first-child{
    margin-bottom:16px;
}
.cameraman{
    width: 169px;
    margin-left: 67px;
    margin-top: 15px;
    }
.tt {
    width: 250px;
    height:140px;   
    font-size: 12px;
    line-height: 130%;
    display:flex;
    flex-wrap: wrap;
    margin-top: 42px;
    margin-bottom:44px;
}
.block-app{
    display:none;
}
.tt div{
    width: 86px;
    padding-right:33px;
}
.tt h4{  
    font-size: 12px;
    line-height: 130%;
}
.tt p{
    width: 86px;
    height: 18px;
    font-size: 10px;
    line-height: 130%;
    margin-top:5px;
}
.about{
    position: absolute;
    width: 308.47px;
    height: 174.27px;
    left: 36px;
    top: 687.72px;   
    font-size: 12px;
    line-height: 150%;
}
.forma{
    height: 43.34px;    
    font-size: 26px;
    line-height: 101.38%;      
}
.format-lessons{
    height: 300px; 
    font-size: 26px;
    line-height: 101.38%;
}
.format-lessons div{
    margin-bottom: 20px;
    margin-top: 6px;
}
.format-lessons span{
    font-size: 12px;
    line-height: 130%;   
}
.format-lessons p{  
    font-size: 10px;
    line-height: 130%;
    margin-top: 5px;   
}
.n{
    width: 170px;
}
.nn{
    width: 170px;
}
.whats-new{
    width: 310.8px;
    height: 53px; 
    font-size: 26px;
    line-height: 101.38%;
}
.list{
    width: 292px;
    height: 204px;
    margin-left:15px;
    margin-bottom: 55px;
    font-size: 12px;   
    line-height: 18.2px;
}
.list li{    
    text-indent: -6px;
}
.programs{
    width: 421.7px;
    height: 43.34px;
    font-size: 26px;
    line-height: 101.38%;
    }
.painters {
    margin-top: 35px;
    margin-left: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    } 
.card {
    width: 185.92px;
    height: 152.84px;
    box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
    border-radius: 13.9792px;
    margin-bottom:24.16px;
    }   
.card-content {
    height: 41%;
    padding: 5%;
    padding-top: 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }    
.painters img {
        width: 185.92px;
    }
.ui {   
    font-size: 14px;
    line-height: 130%;
}
.uii{
    font-size: 14px;
    line-height: 97%;
}
.uu, .uuu{
    font-size: 12px;
    line-height: 130%;
}

/*серый блок*/
.person{
    width: 373px;
    height: 423px;
    padding: 42px 32px 53px 33px;
    box-sizing: border-box;
    margin-top: 25px;
}
.persons{
    width: 257px;
    height: 69px;   
    font-size: 26px;
    line-height: 101.38%;
    margin-bottom:11px;
}
.block-person{
    width: 308px;
    height: 248px;
    box-shadow: 0.465972px 0.465972px 9.31944px rgba(0, 0, 0, 0.25);
    border-radius: 13.9792px; 
}
.feedback{
    width: 266px;
    height: 111.01px;  
    font-size: 10px;
    line-height: 15.45px;
    padding: 18.47px 0 21.52px 21px;
}
.girl{
    width: 90px;
    height: 82px;
    margin-left:15px;
}
 .info-about-person{ 
    display:flex; 
    flex-direction:row;
    height:90px; 
}
.ekaterina{ 
    font-size: 14px;
    line-height: 101.38%;
    margin-top:17px;
    margin-left: 10px;
    margin-bottom: 21px;
}
.fb{
    width:14.91px;
    margin-left: 10px;
}

/* блок мятного цвета */
.money{
    width: 373px;
    height: 362px;
    padding-top: 61px;
    padding-left: 31px;
    box-sizing: border-box;
}
.money h2{  
    font-size: 26px;
    line-height: 27px;
    width: 224px;
}
.price{ 
    font-size: 12px;
    line-height: 101.38%;
    margin-top:33px;
    margin-bottom:2px;
}
.count{
    font-size: 37px;
    line-height: 101.38%;
}
.info-money{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.info-money div{
    padding-right: 22px;
    padding-left:2px;
}
.big-text{
    font-size: 12px;
    line-height: 101.38%;
    margin-top: 5px;
    margin-bottom: 8px;
}
.small-text{ 
    font-size: 10px;
    line-height: 101.38%;
    width:144px;   
}
/* блок черного цвета  */
footer {
   
    width: 373px;
    height: 251px;
    padding:23px 0 0 36px;
    box-sizing: border-box;
   
    font-size: 12px;
    line-height: 101.38%;

}
.sinhro-white{
    width:53.59px;
}
.icons img{
    width: 15.5px; 
    margin-right:7px;
    margin-top:11px;
    margin-bottom: 48px;
}
.contact {
    width:12.58px;
    margin-right: 7px;
}
.phone{
    margin-bottom: 9px;
}
.mail{
    margin-bottom:53px;
}
.logotip{   
    font-size: 10px;
    line-height: 101.38%;
}
}


/* здесь стили для декстопа */
@media screen and (min-width: 1280px) {

header{
        height:225px;
    }
.wrapper {
      height: 100%;
    }

.wrapper1, .wrapper2{
        padding-left:122px;
    }
.sinhro {
        width: 112px;
        height: 66px;
        margin-top: 21px;
      }
.globe{
    position: absolute;
    width: 22px;
    height: 21px;
    left: 128px;
    top: 193px;
}
.online-course{
    position: absolute;
    width: 130px;
    height: 32px;
    left: 158px;
    top: 176px;
    font-size: 20px;
    line-height: 115%;
}
.clock{
    position: absolute;
    width: 22px;
    height: 22px;
    left: 314px;
    top: 192px;
}
.hours{
    position: absolute;
    width: 130px;
    height: 32px;
    left: 346px;
    top: 176px;
    font-size: 20px;
    line-height: 115%;
}
.calendar{
    position: absolute;
    width: 20px;
    height: 22px;
    left: 475px;
    top: 193px;
}
.date{
    position: absolute;
    width: 130px;
    height: 32px;
    left: 509px;
    top: 176px;
    font-size: 20px;
    line-height: 115%;
}
.second{
    height: 769px;
    /* display: flex; */
    /* justify-content: space-between; */
}
h1 {
      font-size: 80px;
      line-height: 101.38%;
      margin-top: 7.51px;
      margin-bottom: 0;
      width: 628px;
    }
.how{
    width: 770px;
    display:block;
    margin-top:18px;
}
.row{
    display:flex;
    flex-direction:row;
}
.description {    
      font-size: 20px;
      line-height: 150%;
      width:414px;   
    }
.noroot {
      width: 305px;
      height: 376px;
      margin-right: 123.48px;
    }
  
.blue {
      width: 483.63px;
      height: 200.02px;
      border-radius: 5px;
      margin-left: 289px;
      margin-top: 67px;
      padding-top:2px;
      padding-left:10px;
      box-sizing: border-box;
    }
  
    .blue div {
      width: 430.59px;
      height: 113px;
      margin-top: 19.26px;
      margin-right: 20.02px;
      margin-bottom: 20.74px;
      margin-left: 16.03px;
    }
  
    .blue p {
      font-size: 25px;
      line-height: 130%;
      margin: 0;
    }
  
    .blue span {
      font-size: 20px;
      line-height: 130%;
      text-align: right;
      margin-left: 268px;
    }
  
  .course {
    font-weight: 700;
    font-size: 55px;
    line-height: 101.4%;
    margin-bottom:20px;
  }
  .row2{
      display:flex;
      flex-direction:row;
      width: 1500px ;
  }
  .cameraman{
      width:363px;
      margin-left: 166px;
      margin-top:62px

  }
    .wrappers {
      margin-right: 88.61px;
      margin-top: 173.36px;
    }
  
    .wrappers p {
      font-size: 24px;
      line-height: 150%;
      color: #000000;
    }
  
    .text-block-one {
      width: 662px;
      height: 374px;
    
    }
    .text-block-one p{
        font-size: 24px;
        line-height: 36px;
        padding-top: 13px;
    }
  
    .logo {
      width: 315px;
      height: 314px;
      margin-top: 170px;
    }
  
    .logo-second {
      width: 211.98px;
      height: 34.17px;
      top: 100px;
      position: absolute;
      left: 637px;
      top: 165px;
      z-index: -1;
    }
  
    .title {

      font-size: 55px;
      line-height: 101.38%;

    }
  
    .logo-two {
      width: 234px;
      height: 217px;
      margin-right: 41px;
      margin-bottom: 54px;
    }
  
    .tt {
      display: flex;
      /* justify-content: space-between; */
      margin-top: 104px;
      margin-bottom: 103.09px;
      /* margin-right: 250px; */
      position: relative;
    }
  
    .em {
      position: absolute;
      width: 167.46px;
      height: 18.53px;
      top: 193px;
      left: 43px;
      z-index: -1;
    }
    .tt-details1{
        margin-top:35px;
        margin-left: 91px;
        width: 200px;
    }
    .tt-details2{
        margin-top:35px;
        margin-left: 45px;
        width: 200px;
    }
    .tt-details3{
        margin-top:35px;
        margin-left: 42px;
        width: 200px;
    }
.tt h4 {
    
      font-size: 25px;
      line-height: 130%;
      margin-bottom:-10px;
    }
    .tt p {  
      font-size: 18px;
      line-height: 130%;
    }
    .forma {
      font-size: 55px;
      line-height: 101.38%;
    } 
    .format-lessons {
      display: flex;
      margin-top: 129px;
      margin-left:2px;
    } 
    .n{
        width: 233px;
    }
    .nn{
        width: 270px; 
        margin: 0 115px 0 112px;  
    }
    .format-lessons span {
      font-size: 25px;
      line-height: 114%;
    }
    .format-lessons p {
      font-size: 18px;
      line-height: 130%;
      margin-top:12px;
    }
    .whats-new {
      margin-top: 200.55px;
      margin-bottom: 59px;
      font-size: 55px;
      line-height: 101.38%;
    }
    ul {
      margin-top: 16.16px;
      margin-bottom: 220.66px;
      margin-left:-21px;
      width:647px;
    }
  
    ul li {
      font-size: 24px;
      line-height: 153%;
    }
  
    .programs {    
      margin: 0px 239.77px 55.02px 2.08px;
      font-size: 55px;
      line-height: 101.38%;
    }
  
    .painters {
      display: flex;
      flex-wrap: wrap;
      margin-left:-35px;
      margin-top: 132px;
      width: 1400px;
    }
  
    .card {
      width: 399px;
      height: 328px;
      border-radius: 30px;
      box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.2);
      margin-right: 36px;
      margin-bottom:43px;
    }

    .card-content {
      height: 41%;
      padding: 5%;
      padding-top: 7px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .painters img {
        width: 399px;
        height: 160px;
    }
  
    .ui {
      margin: 0;
      font-size: 30px;
      line-height: 130%;
    }
  
    .uii {
      margin: 0;
      line-height: 117%;
      font-size: 30px;
    }
    .uu {
      margin: 0;
      line-height: 130%;
      width: 25.34vw;
      font-size: 25px;
    }
    .uuu {
      margin: 0;
      line-height: 130%;
      width: 25.34vw;
      font-size: 25px;
    }
    .person {
        padding-left: 122.97px;
        width:1440px;
        height: 780px;
        padding-top: 45px;   
        margin-top: 80px;
        box-sizing: border-box;
      }
    .persons {
      font-size: 55px;
      line-height: 101.38%; 
      margin-bottom:77px;  
    }
    .block-person {
      width: 791px;
      height: 451px;
      box-shadow: 0.579167px 0.579167px 11.5833px rgba(0, 0, 0, 0.25);
      border-radius: 17.375px;
      margin-left: 3.97px;
      margin-right: 302.9px;
    }
  
    .block-person p {
      font-size: 20px;
      line-height: 150%;
      padding-top: 37px;
      padding-left: 45px;
      padding-right: 46px;
      margin: 0;
    }
  
    .girl {
      width: 190px;
      height: 169px;
      margin-left: 26px;
      margin-top: 34px;
    }
  
    .info-about-person {
      display: flex;
    }
  
    .id-person {
      margin-top: 64.96px;
      margin-left: 29.38px;
    }
  
    .id-person p {
      font-size: 30px;
    }
  
    .info-about-person p {
      padding: 0;
    }
  
    .fb {
      width: 32px;
      height: 31px;
      margin-top: 25px;
    }
  
    .money {

      padding-left: 70.66px;
      padding-top: 103.67px;
      padding-bottom: 107.15px;
      padding-right: 237.46px;
      width: 1440px;
      height: 780px;
      box-sizing: border-box;
    }
  
    .month {
      margin-top: 73px;
      margin-left:52px;
      font-size: 55px;
      line-height: 101.38%;
      margin-bottom: 65.27px;

    }
  
    .price {
      font-size: 25px;
      line-height: 101.38%;
      margin-left:52px;
      margin-top:10px;
      margin-bottom:8px;
    }
  
    .count {
      margin: 0 0 49px 53px;
      font-size: 80px;
      line-height: 101.38%;
    }
  
    .info-money {
      display: flex;
      margin-left:52px;
    }
  
    .info-money div:nth-child(2) {
      margin-left: 70.54px;
    }
  
    .big-text {
      font-size: 25px;
      line-height: 101.38%;
      margin-bottom: -3px;
    }
  
    .small-text {
      font-size: 18px;
      line-height: 101.38%;
      width: 294px;
    }
  
    footer {
      padding-top: 29px;
      padding-left: 70.66px;
      padding-right: 85px;
      padding-bottom: 13.32px;
    }
  footer{
    width: 1440px;
    height: 390px;
    box-sizing: border-box;
  }
    .adress {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      /* justify-content: space-between; */
    }
  
    .adress span {
      /* margin-left: 13px; */
      font-size: 25px;
    }
  
    .logotip {
      margin-top: 140px;
      margin-left: 51px;
      font-size: 18px;
    }
  
    .icons {
      margin-left: 40px;
      margin-right:655px;
    }
  
    .icons img {
      margin-top: 26.38px;
      width: 33px;
      /* height: 33px; */
      margin-left: 13px;
    
    }
    .vk{
        margin-right: 10px;
    }
    .fb-white{
        margin-right:4px;
    }
    .contact{
      width: 27px;
      /* height: 27px; */
      /* font-size: 25px; */
      margin-right: 18px;
    }
   
  
    .phone{
        margin-bottom:14px;
        margin-top: 23px;
    }
    .sinhro-white {
      width: 115px;
      height: 68px;
      margin-left: 52px;
      margin-top: 21px;
    }
  }
 
